<h2>Phonenumbers and Users Assignment List</h2>
<form method="POST" action="<?=$router->pathFor("admin-management", [ "page" => $page ] ) . ( !empty($query_string) ? '?' . $query_string : '')?>">
<div>
<h3>Phonenumbers</h3>
<ul>
<?php
    $pi=0;
    if ( is_array($data) && array_key_exists("phonenumbers", $data) && !empty($data["phonenumbers"]) ) {
        foreach($data["phonenumbers"] as $k => $v) {
            $pi++;
            echo '<li><input type="radio" name="data[id]" value="' . $v["id"] . '"/> ' . $v["number"] 
                .' (' . (!empty($v["user"]) ? $v["user"]["email"] : "Unassigned") . ')'
                .'</li>';
        }
    } else if ($data["offset"]["phonenumbers"] == 0) {
        echo '<li>No phonenumbers exist yet</li>';
    } else {
        echo '<li>No more phonenumbers</li>';
    }
?>    
</ul>
<?php
    // Handle pages
    if ( $pi == $data["limit"]["phonenumbers"] ) {
        echo '<a href="'. $router->pathFor("admin-management", [ "page" => $page ]) 
            . '?users[offset]='. strval($data["offset"]["users"])
            . '&users[limit]=' . strval($data["limit"]["users"])
            . '&phonenumbers[offset]='. strval($data["offset"]["phonenumbers"] + $pi)
            . '&phonenumbers[limit]=' . strval($data["limit"]["phonenumbers"])
            . '">Next Page</a> '
            . '&nbsp;&nbsp;&nbsp;';

    }
    if ($data["offset"]["phonenumbers"] > 0) {
        echo '<a href="'. $router->pathFor("admin-management", [ "page" => $page ])
            . '?users[offset]='. strval($data["offset"]["users"])
            . '&users[limit]=' . strval($data["limit"]["users"])
            . '&phonenumbers[offset]='. strval(max(0, $data["offset"]["phonenumbers"] - $data["limit"]["phonenumbers"]))
            . '&phonenumbers[limit]=' . strval($data["limit"]["phonenumbers"])
            . '">Previous Page</a> ';
    }
?>
</div>

<div>
<h3>Users</h3>
<ul>
<?php
    echo '<li><input type="radio" name="data[user_id]" value="" checked/> Unassigned</li>';

    $ui = 0;
    if ( is_array($data) && array_key_exists("users", $data) && !empty($data["users"]) ) {
        foreach($data["users"] as $k => $v) {
            $ui++;
            echo '<li><input type="radio" name="data[user_id]" value="'.$v["id"].'"/> ' . $v["email"] . '</li>';
        }
    }
?>    
</ul>
<?php
    // Handle pages
    if ( $ui == $data["limit"]["users"] ) {
        echo '<a href="'. $router->pathFor("admin-management", [ "page" => $page ]) 
            . '?users[offset]='. strval($data["offset"]["users"] + $ui)
            . '&users[limit]=' . strval($data["limit"]["users"])
            . '&phonenumbers[offset]='. strval($data["offset"]["phonenumbers"])
            . '&phonenumbers[limit]=' . strval($data["limit"]["phonenumbers"])
            . '">Next Page</a> '
            . '&nbsp;&nbsp;&nbsp;';

    }
    if ($data["offset"]["users"] > 0) {
        echo '<a href="'. $router->pathFor("admin-management", [ "page" => $page ])
            . '?users[offset]='. strval(max(0, $data["offset"]["users"] - $data["limit"]["users"]))
            . '&users[limit]=' . strval($data["limit"]["users"])
            . '&phonenumbers[offset]='. strval($data["offset"]["phonenumbers"])
            . '&phonenumbers[limit]=' . strval($data["limit"]["phonenumbers"])
            . '">Previous Page</a> ';
    }
?>
</div>
<br/>

<input type="submit" value="Assign"/>
</form>
