<h2>Dialog List</h2>
<?php
?>
<ul>
<?php
$i = 0;
if ( isset($id) && is_array($data) && array_key_exists("messages", $data) && array_key_exists("dialog", $data) ) {
    $route_name = "admin-dialog-messages";

    echo '<h3>('. $data["dialog"]["user"]["email"] . ') '
        . $data["dialog"]["internal_number"] . ' &xhArr; ' . $data["dialog"]["external_number"] 
        . '</h3>';
    if ( is_array($data) && !empty($data) ) {

        // Handle related Messages
        foreach($data["messages"] as $k => $v) {
            $i++;
            if ($v["direction"] == "1") {
                $phonenumber = $data["dialog"]["internal_number"];
            } else {
                $phonenumber = $data["dialog"]["external_number"];
            }

            echo '<li> (' .$v["sent"] . ') <b>' . $phonenumber . '</b>: '.$v["message"]
               . '</li>';
        }
    } else if ( $offset == 0 ) {
        echo '<li>No messages exist yet</li>';
    } else {
        echo '<li>No more messages</li>';
    }
} else if ( is_array($data) && !isset($id) ) {
    $route_name = "admin-management";

    if (count($data) > 0) {
        // Handle Dialogs
        foreach($data as $k => $v) {
            $i++;
            echo '<li><a href="'. $router->pathFor("admin-dialog-messages", [ "id" => $v["id"] ]) . '">'
               . ' (' . $v["user"]["email"] . ') '
               . $v["internal_number"] 
               . ' &xhArr; '
               .  $v["external_number"]
               . '</a></li>';
        }
    } else if ( $offset == 0 ) {
        echo '<li>No dialogs exist yet</li>';
    } else {
        echo '<li>No more dialogs</li>';
    }
}
?>    
</ul>
<?php
    // Handle pages 
    if ( $i == $limit ) {
        echo '<a href="'. $router->pathFor($route_name, array_merge([ "page" => $page ], (isset($id) ? [ "id" => $id ] : [])) ) 
            . '?offset='. strval($offset + $i)
            . '&limit=' . strval($limit)
            . '">Next Page</a> '
            . '&nbsp;&nbsp;&nbsp;';

    }

    if ($offset > 0) {
        echo '<a href="'. $router->pathFor($route_name, array_merge([ "page" => $page ], (isset($id) ? [ "id" => $id ] : [])) ) 
            . '?offset='. strval(max(0, $offset - $limit))
            . '&limit=' . strval($limit)
            . '">Previous Page</a> ';
    }

if (isset($id)) {
?>
    <br/>
    <a href="<?=$router->pathFor("admin-management", [ "page" => $page ]) ?>">Back to Dialogs</a>
<?php
}
?>
