<h1>System Login</h1>

<?=$message?>

<form action="" method="POST">
<p>Username: <input name="username"/></p>
<p>Password: <input name="password" type="password"/></p>
<p><input type="submit" value="Login"/></p>
</form>
