<style>
/* The sidebar menu */
/** Borrowed from: https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 240px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidenav .title {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 240px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 20px;}
}
</style>

<script>
<!--
    
-->
</script>

<div class="sidenav">
    <div class="title">Admin Management</div>
    <hr/>
    <a href="<?=$router->pathFor('admin-management', [ 'page'=>'users' ])?>">Users</a>
    <a href="<?=$router->pathFor('admin-management', [ 'page'=>'phonenumbers' ])?>">Phonenumbers</a>
    <a href="<?=$router->pathFor('admin-management', [ 'page'=>'assignments' ])?>">Assignments</a>
    <a href="<?=$router->pathFor('admin-management', [ 'page'=>'dialogs' ])?>">SMS/MMS Dialogs</a>
    <a href="<?=$router->pathFor('admin-management', [ 'page'=>'sendtest' ])?>">Send a Test SMS/MMS</a>
    <a href="<?=$router->pathFor('admin-management', [ 'page'=>'smtp' ])?>">SMTP</a>
    <hr/>
    <a href="<?=$router->pathFor('admin-logout')?>">Logout</a>
</div>

<div class="main">
<?php
if ( in_array($page, [ 'users', 'phonenumbers', 'assignments', 'dialogs', 'sendtest', 'templates', 'smtp' ]) ) {
    include $page . "-management.phtml";
} else {
    include "users-management.phtml";
}
?>
</div>
