<h2>Phonenumber List</h2>
<?php
if ( isset($data[0]) && !isset($id) ) {
?>
<ul>
<?php
    $i = 0;
    if ( is_array($data) && !empty($data) ) {
        foreach($data as $k => $v) {
            $i++;
            echo '<li><a href="'. $router->pathFor("admin-management", [ "page" => $page, "id" => $v["id"] ]) . '">'.$v["number"] .'</a>'
                . ( array_key_exists("user", $v) && !empty($v["user"]) ? " " . $v["user"]["email"] : " Unassigned" )
                . '</li>';
        }
    } else {
        echo '<li>No phonenumbers exist yet</li>';
    }
?>    
</ul>
<?php

    // Handle pages
    if ( $i == $limit ) {
        echo '<a href="'. $router->pathFor("admin-management", [ "page" => $page ]) . '?offset='. strval($offset + $i)
            . '&limit=' . strval($limit)
            . '">Next Page</a> '
            . '&nbsp;&nbsp;&nbsp;';

    }
    if ($offset > 0) {
        echo '<a href="'. $router->pathFor("admin-management", [ "page" => $page ]) . '?offset='. strval(max(0, $offset - $limit))
            . '&limit=' . strval($limit)
            . '">Previous Page</a> ';
    }

} else {
?>
    <a href="<?=$router->pathFor("admin-management", [ "page" => $page ]) ?>">Back to Phonenumbers</a>
<?php
}
?>

<?= !empty($error_message) ? "<p><b>$error_message</b></p>" : "" ?>
<form method="POST" action="<?=$router->pathFor("admin-management", [ "page" => $page ] )
    . ( !empty($query_string) ? '?' . $query_string : '') ?>">
<?php
if ( is_numeric($id) ) {
?>
    <input type="hidden" name="data[id]" value="<?=$id?>"/>
<?php
}
?>
    <p>New Number: <input name="data[number]" value="<?= isset($id) ? $data["number"] : "" ?>" placeholder="15553217878"/></p>
    <p></p>
    <p>
<?php
if ( isset($id) ) {
?>
    <input type="submit" name="action" value="Update"/> <input type="submit" name="action" value="Delete" />
<?php
} else {
?>
    <input type="submit" name="action" value="Create"/>
<?php
}
?>
    </p>
</form>
