<h2>Send a Message</h2>
<form method="POST" action="<?=$router->pathFor("admin-management", [ "page" => $page ] ) . ( !empty($query_string) ? '?' . $query_string : '')?>" enctype="multipart/form-data">
<div>
<h3>From Phonenumber</h3>
<ul>
<?php
    $i = 0;
    if ( is_array($data) && array_key_exists("phonenumbers", $data) && !empty($data["phonenumbers"]) ) {
        foreach($data["phonenumbers"] as $k => $v) {
            echo '<li><input type="radio" name="data[from]" value="' . $v["number"] . '" ' 
                // Auto-checked the first phonenumber
                . (!array_key_exists("from", $data) && $i++ < 1 ? "checked" :
                    // Unless a phonenumber was previously selected then keep it checked
                    ( array_key_exists("from", $data) && $v["number"] === $data["from"] ? "checked" : "") )
                .'/> ' . $v["number"] 
                .' (' . (!empty($v["user"]) ? $v["user"]["email"] : "Unassigned") . ')'
                .'</li>';
        }
    } else if ($offset == 0) {
        echo '<li>No phonenumbers exist yet</li>';
    } else {
        echo '<li>No more phonenumbers</li>';
    }
?>    
</ul>
<?php
    // Handle pages 
    if ( $i == $limit ) {
        echo '<a href="'. $router->pathFor($route_name, array_merge([ "page" => $page ], (isset($id) ? [ "id" => $id ] : [])) ) 
            . '?offset='. strval($offset + $i)
            . '&limit=' . strval($limit)
            . '">Next Page</a> '
            . '&nbsp;&nbsp;&nbsp;';

    }

    if ($offset > 0) {
        echo '<a href="'. $router->pathFor($route_name, array_merge([ "page" => $page ], (isset($id) ? [ "id" => $id ] : [])) ) 
            . '?offset='. strval(max(0, $offset - $limit))
            . '&limit=' . strval($limit)
            . '">Previous Page</a> ';
    }
?>
</div>

<div>
<h3>Send a Test Message</h3>
<?= !empty($error_message) ? "<p><b>$error_message</b></p>" : "" ?>
<?= !empty($message) ? "<p><b>$message</b></p>" : "" ?>
<p>
To: <input type="text" name="data[to]" placeholder="15553039001" value="<?= (array_key_exists("to", $data) ? $data["to"] : "")?>" />
</p>
<p>
<textarea name="data[text]" rows="4" cols=30">
<?= array_key_exists("text", $data) ? $data["text"] :
"Congratulations! You just received my test message. You are awesome. Have a nice day."?>
</textarea>
</p>
<p>
<input type="file" name="data[upload_file][]" multiple/>
</p>
</div>

<input type="submit" value="Send"/>
</form>
