<h2>SMTP</h2>

<form method="POST" action="<?=$router->pathFor("admin-management", ["page" => $page]) ?>">
    <p>Host: <input name="data[host]" value="<?= array_key_exists("host", $data) ? $data["host"] : "" ?>" placeholder="smtp.gmail.com"/></p>
    <p>Username: <input name="data[username]" value="<?= array_key_exists("username", $data) ? $data["username"] : "" ?>" /></p>
    <p>Password: <input type="password" name="data[password]" value="<?= "" ?>" /></p>
    <p>Port: <input name="data[port]" value="<?= array_key_exists("port", $data) ? $data["port"] : "" ?>" /></p>
    <p>Sender Email: <input name="data[sender_email]" value="<?= array_key_exists("sender_email", $data) ? $data["sender_email"] : "" ?>" /></p>
    <p></p>
    <p>
    <input type="submit" name="action" value="Update"/>
    </p>
</form>
