<h2>User List</h2>
<?php
if ( isset($data[0]) && !isset($id) ) {
?>
<ul>
<?php
    $i = 0;
    if ( is_array($data) && !empty($data) ) {
        foreach($data as $k => $v) {
            $i++;
            echo '<li><a href="'. $router->pathFor("admin-management", [ "page" => $page, "id" => $v["id"] ]) . '">"'.$v["display_name"] .'" &lt;' . $v["email"] . '&gt;</a></li>';
        }
    } else {
        echo '<li>No users exist yet</li>';
    }
?>    
</ul>
<?php
    // Handle pages
    if ( $i == $limit ) {
        echo '<a href="'. $router->pathFor("admin-management", [ "page" => $page ])
            . '?offset='. strval($offset + $i)
            . '&limit=' . strval($limit)
            . '">Next Page</a> '
            . '&nbsp;&nbsp;&nbsp;';

    }
    if ($offset > 0) {
        echo '<a href="'. $router->pathFor("admin-management", [ "page" => $page ])
            . '?offset='. strval(max(0, $offset - $limit))
            . '&limit=' . strval($limit)
            . '">Previous Page</a> ';
    }

} else {
?>
    <a href="<?=$router->pathFor("admin-management", [ "page" => $page ]) ?>">Back to Users</a>
<?php
}
?>

<?= !empty($error_message) ? "<p><b>$error_message</b></p>" : "" ?>
<form method="POST" action="<?=$router->pathFor("admin-management", 
        array_merge([ 
                "page" => $page
            ],
            ( isset($id) ? [ "id" => $id ] : [] )
        )
    ) 
    . ( !empty($query_string) ? '?' . $query_string : '')
    ?>">
    <p>Email: <input name="data[email]" value="<?= array_key_exists("email", $data) ? $data["email"] : "" ?>" placeholder="example@example.com"/></p>
    <p>Display Name: <input name="data[display_name]" value="<?= array_key_exists("display_name", $data) ? $data["display_name"] : ""?>" placeholder="John Doe"/></p>
    <p>Password: <input type="password" name="data[password]"/></p>
    <p>Notifications Enabled: <input type="checkbox" name="data[notifications_enabled]" <?= array_key_exists("notifications_enabled", $data) && $data['notifications_enabled'] ? "checked" : ""?> /></p>
    <p></p>
    <p>
<?php
if ( isset($id) ) {
?>
    <input type="submit" name="action" value="Update"/> <input type="submit" name="action" value="Delete" />
<?php
} else {
?>
    <input type="submit" name="action" value="Create"/>
<?php
}
?>
    </p>
</form>
